/* Address */

.page-footer__contacts {
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: $tablet) {
    margin-right: 165px;
  }

  @media screen and (min-width: $desktop) {
    width: 231px;
    margin-right: 70px;
  }
}
.page-footer__address {
  display: block;

  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__text {
  margin-top: 0;

  color: var(--primary-white-color);

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address__link {
  color: var(--address-link-color);

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
