/* Page header */
.page-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;

  background-color: var(--primary-white-color);
  border: 1px solid var(--header-border-color);
}

.page-header__container {
  display: flex;
  align-items: center;
}

// MOBILE-MENU

.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  padding: 48px 40px;

  width: 100vw;
  height: 100vh;

  z-index: 2;
  background-color: var(--primary-white-color);

  transform: translateX(100%);

  transition: transform 250ms var(--timing-function);

  &.is-open {
    transform: translateX(0);
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.menu-button {
  margin: 0;
  padding: 0;

  cursor: pointer;
  border: none;

  background-color: transparent;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }

  .menu-container & {
    position: absolute;
    top: 10px;
    right: 15px;
  }
}

.mobile-menu {
  margin-bottom: auto;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  display: inline-block;

  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;

  letter-spacing: 0.02em;

  color: var(--title-text-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &--current {
    position: relative;
    color: var(--accent-color);
  }
  &--current::after {
    position: absolute;
    left: 0;
    bottom: 0;

    content: '';
    display: block;
    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

.mobile-contacts {
  margin-bottom: 64px;
}

.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mobile-contacts__link--tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;

  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-social {
  display: flex;
  flex-wrap: wrap;
}

.mobile-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;

  letter-spacing: 0.02em;

  color: var(--accent-color);
}

.mobile-social__item:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;

  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
