/* Contacts */

.contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
  }
}

.page-header__contacts {
  margin-left: auto;
}

.contacts__item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: $desktop) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}
.contacts__link {
  color: var(--primary-text-color);

  font-weight: 500;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    font-size: 12px;
    line-height: 1.16;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
    line-height: 1.14;
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}
