/* Contacts */

.contacts {
  display: flex;
  @media screen and (max-width: $tablet) {
    display: none;
  }
}

.page-header__contacts {
  margin-left: auto;
}

.contacts__item:not(:first-child) {
  margin-left: 30px;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}
