/* Features */

.features {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: -30px;
  }
}

.features__item {
  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
  }

  & :not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.features__title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: $tablet) {
    text-align: left;
  }
}

.features__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: var(--second-background);
  margin-bottom: 30px;
}
