/* Hero */

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;

  background-color: var(--footer-bg-color);

  @media screen and (min-width: $desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  margin-bottom: 30px;

  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: $desktop) {
    font-size: 44px;
    line-height: 1.364;
  }
}

/* Overlya */

.overlya {
  max-width: 1600px;

  margin-left: auto;
  margin-right: auto;

  outline: 1px solid var(--title-text-color);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  // MOBILE
  @media screen and (max-width: 767px) {
    max-width: $mobile;
    background-image: linear-gradient(to right, var(--hero-gradient-color)),
      url('../images/hero/mobile/hero-mob1x.jpg');
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        var(--hero-gradient-color),
        var(--hero-gradient-color)
      ),
      url('../images/hero/mobile/hero-mob2x.jpg');
  }

  // TABLET
  @media screen and (min-width: $tablet) {
    max-width: $tablet;
    background-image: linear-gradient(
        to right,
        var(--hero-gradient-color),
        var(--hero-gradient-color)
      ),
      url('../images/hero/tablet/hero-tab1x.jpg');
  }
  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        var(--hero-gradient-color),
        var(--hero-gradient-color)
      ),
      url('../images/hero/tablet/hero-tab2x.jpg');
  }

  // Desktop
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    background-image: linear-gradient(
        to right,
        var(--hero-gradient-color),
        var(--hero-gradient-color)
      ),
      url('/images/hero/desktop/hero-desktop1x.jpg');
  }
  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        var(--hero-gradient-color),
        var(--hero-gradient-color)
      ),
      url('/images/hero/desktop/hero-desktop2x.jpg');
  }
}
