/* Logo */
.logo {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;

  transition: color 250ms var(--timing-function);
}
.page-header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: auto;

  @media screen and (min-width: $tablet) {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 88px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__label {
  color: var(--title-text-color);
}
