/* Site nav */

.site-nav__list {
  display: flex;

  @media screen and (max-width: $tablet) {
    display: none;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &--current {
    position: relative;
    color: var(--accent-color);
  }

  &--current::after {
    position: absolute;
    left: 0;
    bottom: 0;

    content: '';
    display: block;
    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: var(--accent-color);
  }
}
