/* Team */

.team {
  margin-bottom: -30px;
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    margin-right: -30px;
    flex-wrap: nowrap;
  }
}

.team__item {
  margin-bottom: 30px;

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 120px) / 4);
    margin-right: 30px;
  }
  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__card {
  padding: 30px 0;
}

.team__title {
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-works {
  background-color: var(--second-background);
}

.socials {
  display: flex;
  justify-content: center;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  color: var(--social-icon-color);
  background-color: var(--primary-white-color);

  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
  }
}

.socials__icon {
  fill: currentColor;
}
