/* Work  */

.works {
  @media screen and (max-width: $desktop) {
    display: none;
  }
}

.works__title {
  color: var(--title-text-color);

  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.works-list {
  display: flex;

  justify-content: center;
}

.works__item {
  flex-basis: calc((100% - 3 * 90px) / 3);
  margin: 15px;
}
.works__thumb {
  position: relative;
}

.works__label {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 70px;

  padding: 27px 0;
  margin: 0;

  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-white-color);
  background-color: var(--works-label-color);
}
